<div class="flex items-center gap-x-6 bg-gray-900 px-6 py-2.5 sm:px-3.5 justify-around">
    <p class="text-sm leading-6 text-white">
        <strong class="font-semibold">
          Mobile: <a href="tel:+07808240625">07808240625</a>  | Email: <a href="mailto:info@scrapmycartoday.com">info@scrapmycartoday.com</a> 
        </strong>
    </p>
  </div>
  